body html{
    margin: 0;
    padding: 0;
}
body{
    animation: fadein 2s;

}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
.container{
    width: 150vh;
    height: 80vh;
    background: rgb(179, 212, 223);
    margin: 5% auto;
}
.menu{
    position: fixed;
    height: 30px;
    width: 100%;
    
    text-align: end;
    font-size: 25px;     
    display: flex;
    animation: fadein 1s;
}
.menu .div-1{
    margin: 1% 5% 0 59%;
}
.menu .div-2{
    margin-top: 1%;
}
.contact-info{
    width: 100%;
    height: 35vh;
    
    display: flex;
    flex-direction: row;
}
.box{
    width: 30vh;
    height: 35vh;
    margin-right: 5vh;
    font-size: 25px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-box{
    width: 43%;
    margin: 3% auto;
}
.box-social{
    width: 25%;
    padding: 10%;
}
h2{
    font-family: 'Inconsolata', monospace;
}
a {
    font-size: 20px;
    text-decoration: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
}
p{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
}
#box-social{
    display: flex;
    flex-direction: column;
    
}
#maps{
    width: 100%;
    height: 350px;
}
/*mediaqueries*/

@media (min-width: 768px) and (max-width: 1024px) {
    .container{
        max-width: 90%;
    }
    .menu .div-1{
        margin: 1% 5% 0 66%;
    }
    .contact-box p{
        font-size: 18px;
    }
}
@media (min-width: 601px) and (max-width:766px){
    .container{
        max-width: 90%;
    }
    .menu .div-1{
        margin: 1% 5% 0 64%;
    }
    .contact-box p{
        font-size: 16px;
    }
    .box{
        font-size: 18px;
    }
    .box-social a{
        font-size: 18px;
    }
    #maps{
        width: 100%;
        height: 250px;
    }
}
@media (min-width: 480px) and (max-width: 600px){
    .container{
        max-width: 95%;
    }
    .menu .div-1{
        margin: 1% 5% 0 59%;
    }
    .contact-box{
        width: 52%;
    }
    .contact-box p{
        font-size: 13px;
    }
    .box{
        font-size: 16px;
    }
    .box-social a{
        font-size: 16px;
    }
    .box-social{
        padding: 17%;
    }
}
@media (min-width: 320px) and (max-width: 480px){
    .container{
        max-width: 95%;
    }
    .menu .div-1{
        margin: 1% 5% 0 51%;
    }
    .contact-box p{
        font-size: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .box{
        font-size: 18px;
        margin-right: 0;
        
    }
    .box-social{
        width: 20%;
        padding: 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    .box-social a{
        font-size: 15px;
    }
}