body, html{
    margin: 0;
    padding: 0;
    border: 0;
}
.container{
    width: 150vh;
    
    margin: auto;
   margin-top: 9vh;
   background: #EFF8F8;
}
.menu{
    position: fixed;
    height: 30px;
    width: 100%;
    
    text-align: end;
    font-size: 25px;     
    display: flex;
    animation: fadein 1s;

}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}



.menu .div-1{
    margin: 1% 10% 0 52%;
}
.menu .div-2{
    margin-top: 1%;
}

.inside-container{
    height: 96%;
    display: flex;
    justify-content:space-between;
    border: 3px solid #FFDC73;
    margin: 10px;    
    }
.menu-div{
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: 5%;
}
.p{
    font-size: 20px;
    font-family: 'lato';
    animation: fadein 2s;

}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
h2{
    margin-bottom: 5vh;
    margin-top: 5vh;
    font-family: 'lato';
    animation: fadein 2s;

}
.menu-div span{
    font-size: 18px;
    font-family: 'pridi';
    
     

}

.second-container{
    width: 150vh;
    border: 3px solid #B0E0E6;

    margin: 10px  auto;
    display: flex;
    flex-direction: row-reverse;
    background-image: url('2.jpg');
    background-size: 300px 300px;
    background-repeat: no-repeat;
    background-position: bottom right;
}
.drinks-div{
  width: 100%;
  text-align: center;
    
}
.drinks-div span{
    font-size: 18px;
    font-family: 'pridi';
}

a{
    text-decoration: none;
    color: black;
}

/*mediaqueries*/

@media (min-width: 768px) and (max-width: 1024px) {
  .menu{
      width: 100%;
  }
  .container{
      width: 80%;
  }
  .second-container{
      width: 80%;
      height: 100vh;
      
  }
  .drinks-div{
    background-image: url('2.jpg');
    background-size: 250px 200px;
    background-repeat: no-repeat;
    background-position: 100% 50% ;
  }
}
@media (min-width: 601px) and (max-width:766px) {
    .container{
        width: 90%;
    }
    .second-container{
        width: 90%;
    }
    .drinks-div{
        background-image: none;
       
}
@media (min-width: 480px) and (max-width: 600px) {
    .container{
        width: 90%;
    }
    h2{
        font-size: 20px;
    }
    .second-container{
        width: 90%;
        height: 100vh;
    }
    .drinks-div{
        background-image: none;
      }
     
  }
@media (min-width: 320px) and (max-width: 480px){
    .container{
        width: 90%;
    }
    h2{
        font-size: 8px;
    }
}