body, html{
    margin: 0;
    padding: 0;
    border: 0;
}
.container{
    width: 150vh;
    height: 80vh;
    margin: auto;
   margin-top: 9vh;
}
.menu{
    height: 30px;
    width: 100%;
    
    text-align: end;
    font-size: 25px;     
    display: flex;
    animation: fadein 1s;

}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}



.menu .div-1{
    margin: 0 44% 0 48%;
}
.inside-container{
    width: 100%;
    height: 96%;
    display: flex;
    justify-content:space-between; 
    
    
    
}
.menu-div{
    width: 50%;
    height: 100%;
    margin-left: 10%;
    
    padding-left: 5%;
}
.p{
    font-size: 20px;
    font-family: 'Inconsolata', monospace;
    font-weight: bold;
    animation: fadein 2s;

}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
h2{
    margin-bottom: 5vh;
    margin-top: 5vh;
    font-family: 'Inconsolata', monospace;
    animation: fadein 2s;

}
.menu-div span{
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
     

}
.img{
    height: 600px;
    width: 500px;
    margin-top: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation: fadein 2s;

}
.second-container{
    width: 150vh;
    height: 80vh;
    
    margin: auto;
    display: flex;
    flex-direction: row-reverse;
    
}
.drinks-div{
    width: 50%;
    height: 80%;
    margin-top: 10%;
    margin-left: 20%;
    
}
.drinks-div span{
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
}
.img2{
    height: 600px;
    width: 500px;
    margin-left: 15%;
    margin-top: 6%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation: fadein 2s;

}
a{
    text-decoration: none;
    color: black;
}