body, html{
    margin: 0;
    padding: 0;
    border: 10px;    
    border-style: solid;
    border-color: white;
}
.container{
    display: grid;
    grid-template-columns: 900px;
    grid-template-rows: 40px 600px;
    margin: 50px auto;
    justify-content: center;
}
.navbar{
    background: #F6F6F6;
    text-align: center;
    font-size: 20px;
    font-family: 'Open Sans';
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
li{
    list-style-type: none;
}
li a{
    text-decoration: none;
    color: black;
}
.menu{
    background-image: url('![](Media/lea.jpg)');
    background-size: 350px 700px;
    display: grid;
    justify-content: center; 
    align-content: center; 
    font-size: 60px;
    font-family: 'Open Sans';
}

@media screen and (max-width:920px){
    body{
        border: 0;
    }
    .container{
        display: grid;
        grid-template-columns: 700px;
        grid-template-rows: 40px 600px;
        margin: 0 auto;
        justify-content: center;
    }
  
}
@media screen and (max-width:780px){
    body{
        border: 0;
    }
    .container{
        display: grid;
        grid-template-columns: 600px;
        grid-template-rows: 40px 600px;
        margin: 0 auto;
        justify-content: center;
    }
}
@media screen and (max-width:630px){
    body{
        border: 0;
    }
    .container{
        display: grid;
        grid-template-columns: 500px;
        grid-template-rows: 40px 600px;
        margin: 0 auto;
        justify-content: center;
    }
    .menu{
        background-image: url('![](Media/lea.jpg)');
        background-size: 500px 600px;
        display: grid;
        justify-content: center; 
        align-content: center; 
        font-size: 55px;
        font-family: 'Open Sans';
    }
}
@media screen and (max-width:550px){
    body{
        border: 0;
    }
    .container{
        display: grid;
        grid-template-columns: 350px;
        grid-template-rows: 30px 600px;
        margin: 0 auto;
        justify-content: center;
    }
    .menu{
        background-image: url('![](Media/lea.jpg)');
        background-size: 400px 550px;
        display: grid;
        justify-content: center; 
        align-content: center; 
        font-size: 45px;
        font-family: 'Open Sans';
    }
        
    }
}
