body html{
    margin: 0;
    padding: 0;
}
.container{
    display: grid;
    grid-template-columns: 300px 500px;
    grid-template-rows: 40px 200px 300px;
    justify-content: center;
    margin-top: 100px;
    
}
.navbar{
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background:grey;
}
.navbar div{
    width: 100px;
    
}
a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Open Sans';
}
.reservationText{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    background: #AFD4DE;
    padding-left: 50px;
    font-family: 'Open Sans';
}
.reservationText p{
    width: 450px;
   
}
.reservation{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    background: #AFD4DE;
}
.reservationForm{
   
    display: grid;
    grid-template-columns: 300px 300px;
    
    justify-content: center;
    align-items: flex-end;
    grid-gap: 20px;
    font-family: 'Open Sans';
    
    }
textarea{
    outline: none;
    resize: none;
    overflow: auto;
    height: 100px;
    grid-area: 4 / 1 / span 1 / span 2;
}
@media screen and (max-width:820px){
    body{
        border: 0;
    }
    .container{
        display: grid;
        grid-template-columns: 300px 300px;
        grid-template-rows: 40px 200px 300px;
        justify-content: center;
        margin-top: 0;
    }
    .reservation{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
        background: #AFD4DE;
    }
    .reservationForm{
       
        display: grid;
        grid-template-columns: 200px 200px;
        
        justify-content: center;
        align-items: flex-end;
        grid-gap: 20px;
        font-family: 'Open Sans';
        
        }   
}
@media screen and (max-width:662px){
    body{
        border: 0;
    }
    .container{
        display: grid;
        grid-template-columns: 200px 200px;
        grid-template-rows: 40px 160px 300px;
        justify-content: center;
        margin-top: 0;
    }
    .reservation{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
        background: #AFD4DE;
    }
    .reservationForm{
       
        display: grid;
        grid-template-columns: 100px 100px;
        
        justify-content: center;
        align-items: flex-end;
        grid-gap: 20px;
        font-family: 'Open Sans';
        }  
        .reservationText p{
            width: 300px;
           
        }
}
@media screen and (max-width:520px){
    body{
        border: 0;
    }
    .container{
        display: grid;
        grid-template-columns: 180px 180px;
        grid-template-rows: 40px 160px 300px;
        justify-content: center;
        margin-top: 0;
    }
    .reservation{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
        background: #AFD4DE;
    }
    .reservationForm{
       
        display: grid;
        grid-template-columns: 100px 100px;
        
        justify-content: center;
        align-items: flex-end;
        grid-gap: 20px;
        font-family: 'Open Sans';
        }  
        .reservationText p{
            width: 300px;
           
        }
}